<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121282619573-aqdvfhqh33c1dtrfn013883qbj1ln94n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121282619573-aqdvfhqh33c1dtrfn013883qbj1ln94n</string>
	<key>API_KEY</key>
	<string>AIzaSyCHt61vv0PU706K9Kf5BDTBVmAUhizBgq4</string>
	<key>GCM_SENDER_ID</key>
	<string>121282619573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.sistecweb.App</string>
	<key>PROJECT_ID</key>
	<string>br-com-sistecweb</string>
	<key>STORAGE_BUCKET</key>
	<string>br-com-sistecweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121282619573:ios:3a94b09af61f7c43b0f6fc</string>
	<key>DATABASE_URL</key>
	<string>https://br-com-sistecweb.firebaseio.com</string>
</dict>
</plist>